device {
  display: block;
  padding: 12px;
  position: relative;
  @include card;

  .device-icon {
    margin-right: 8px;
    border-radius: 50%;
    @include heightWidth(42px)
  }

  .waring-icon {
    position: absolute;
    @include heightWidth(16px);
    right: 12px;
    bottom: 6px;
  }
}
