page-weather-search {
  ion-header {
    &.header:after {
      bottom: 0;
      transition: bottom 300ms;
    }
    ion-toolbar .toolbar-background {
      background-color: getColor(content);
    }
  }

  .search-input {
    height: 36px;
    width: calc(100% - 48px);
    margin: 0 24px;
    padding: 0 32px;
    background-color: #e6e6e6;
    border-radius: 18px;
    border: none;
    font-size: getFontSize(big);
    color: getColor(text-dark);
  }

  .tag-container {
    padding: 16px;
    margin-top: 16px;
    .tag-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: getFontSize(normal);
      color: getColor(text-dark-week);

      ion-icon {
        font-size: getFontSize(huge);
        @include heightWidth(24px)
      }
    }

    .tag-content {
      display: flex;
      flex-wrap: wrap;
      .tag-item {
        border-radius: 3px;
        background-color: #e6e6e6;
        font-size: getFontSize(big);
        color: getColor(text-dark);
        padding: 4px 6px;
        margin: 12px 8px;
      }

    }
  }

  .search-result-container {
    display: none;

    ion-list.list {
      @include card;
      margin: 12px;
    }
  }

  &.show-search-result {
    ion-header {
      &.header:after {
        bottom: -5px;
      }
    }

    .tag-container {
      display: none;
    }

    .search-result-container {
      display: block;
    }
  }
}
