<div class="left-warp">
  <div class="flex-j-between flex-a-center">
    <div class="flex-a-center">
      <img class="icon" src="./assets/imgs/img_farmland.png">
      <div class="font-bold text-size-big color-text-dark">状态</div>
    </div>
    <div class="text-size-small font-bold color-succeed" [ngClass]="{'color-danger' :  data.result === 3}">{{data.status
      === 5 ? (data.result | irrigateResultStatus) :
      (data.status | irrigateTaskStatus)}}
    </div>
  </div>

  <div class="text-size-normal text-color-dark" margin-top>开始时间 :{{data.startDate | date : "MM-dd HH:mm"}}<span class="forecast-text">{{data.status < 2 ? ' 估':''}}</span></div>
</div>

<div class="right-warp">
  <div class="result-warp">
    <ng-container *ngIf="data.result === 3">
      <div></div>
      <div class="font-bold color-danger text-size-small">{{data.resultDesc}}</div>
    </ng-container>
  </div>
  <div class="text-size-normal text-color-dark" margin-top>结束时间 :{{data.stopDate | date : "MM-dd HH:mm"}}<span class="forecast-text">{{data.status < 4 ? ' 估': ''}}</span></div>
</div>
